<div style="text-align: center;">
    <h1>{{section.settings.subheading}}</h1>
    <h1>{{section.settings.heading}}</h1>

    {% for block in section.blocks %}
        <div style='background-color: red;'>
            <h1>{{block.settings.subheading}}</h1>
            <h1>{{block.settings.heading}}</h1>
        </div>
    {% endfor %}

    //select schema type example
    <div class="wrapper">
        {% if section.settings.textPostion === 'text-right' %}
        <div>
            <img />
        </div>
        {% endif %}
        <div>
            <p>Text</p>
        </div>
        {% if section.settings.textPosition === 'text-left' %}

        {% endif %}
    </div>

    <div class="wrapper" {% if section.settings.textPosition === 'text-right' %} style='display: flex; flex-direction: row;' {% else %} >
        <div>
            <img />
        </div>
        {% endif %}
        <div>
            <p>
    </div>
</div>

<style>
    .wrapper {
        display: flex;
        {% if section.settings.textPositio === 'textRight' %}
            flex-direction: row;
        {% else %}
            flex-direction: row-reverse;
        {% endif %}
    }
    
</style>

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "hero_banner",
  "settings": [
    {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Background Image (Desktop)"
      }
  ],
  "blocks": [
    {
        "type": "banner",
        
        "name": "banner",
        "limit": 3,
        "settings": [
            {
                "type": "text",
                "id": "subheading",
                "label": "Sub Heading"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "image_picker",
                "id": "image_desktop",
                "label": "Background Image (Desktop)"
            }
        ]
    }
  ],
  "presets": [
    {
        "name": "Hero Banner",
        "blocks": [
        {
          "type": "banner"
        }
      ]
    }
    ]
}
{% endschema %}